
@font-face {
    font-family: "third";
    src: url(../font/NRT-Reg.woff);
}

body {
    height: 100%;
    width: 100%;
    background: url("../icoon/main.jpg");
    margin: 0;
    padding: 0;
background-size: cover;
background-repeat: no-repeat;
background-position:center bottom;
background-attachment: fixed;
}
button{
    cursor: pointer;
}

.all{
width: 100%;
height: 600px;
background-size: cover;
background-position:center left;
}
.all .top{
    height: 6.25rem;
display: flex;
justify-content: space-between;
font-size: larger;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
flex-direction: row;
text-transform: uppercase;
color: black;
padding-left: 0.2em;
padding-right: 0.2em;
padding-top: 0.2em;

}
.all .top img{
    width: 2.8125rem;
    height: 3.4375rem;
    border: 0.0625rem solid black;
    background: rgb(200, 200, 220,.2);
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    cursor: pointer;
    transition: all 0.7s ease-out;

}
.all .center{
    display: flex;
    justify-content: center;
    padding: 20%  5%;
}


.all .top img:hover{
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem; 
    transition: all 0.7s ease-out;
    border: 0.125rem solid coral;
    transform: scale(1.05);

}

.all .center p{

    font-size: 1.75rem;
    padding:0.625rem;
    border-radius: 1.25rem;
    font-weight: 700;
    font-family: 'third';
    background: linear-gradient(to right, #ab0917 30%,  #14078d 80%,#e6d00b 20%);
    background-size: 200% auto;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;

}

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  

  html{
    scroll-behavior: smooth;
}

@media only screen and (max-width:600px) {

    .all .top img{
        width: 2.3rem;
        height: 3.1rem;
    }
    .all .top{
        font-size: 0.8rem;
        padding: 1% 1% 0% 1%;
  
    }
    .all .center p{
        font-size: 1.2rem;
    }
    .all .center{
        
        padding: 20%  2%;
    }
}
  
  
